.idea/
.vscode/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.sqlite3
*.sqlite3%
*.db
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.coverage
.coverage.*
htmlcov/
*.migrations/
local_settings.py
settings_local.py
.DS_Store
node_modules/
*.sass-cache
*.egg-info/
dist/
build/
*.orig
*.rej
*.lock
celerybeat-schedule
celerybeat.pid
*.pem
*.crt
*.key
.env
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
media/
staticfiles/
/static/
/media/
test_coverage_report.html